.hero
    background: #f1f1f1 url('../img/hero/hero-tg.png') no-repeat center top 
    background-size: cover
    padding-top: 85px
    padding-bottom: 270px
    margin-top: 60px
    
    &__title
        padding-top: 20px
        font-size: 45px
        color: #22130e
        letter-spacing: 5px
    &__subtitle
        padding-top: 20px
        display: block
        margin-bottom: 67px
        font-size: 30px
        +bold 
        color: #22130e 
        letter-spacing: 4px
.g
    border: 1px solid black
      
@media ( max-width: 991px )
    .hero
        background-size: cover
        background-position: top left 40%
@media ( max-width: 320px )
    .hero
        &__title
            font-size: 30px
            letter-spacing: 3px  
        &__subtitle
            font-size: 20px

            
        