.hero
    background: #f1f1f1 url('../img/hero/hero-tg.png') no-repeat center top 80px
    background-size: cover
    padding-top: 120px
    padding-bottom: 270px
    
    &__title
        padding-top: 20px
        font-size: 30px
    &__subtitle
        padding-top: 20px
        display: block
        margin-bottom: 67px
        font-size: 30px
        +bold  
        